.banner {
    height: 50vh;
    position: relative;
    background: url("https://media.cntraveler.com/photos/61ecc2d09580ae68b5219093/master/w_2580%2Cc_limit/FourSeasonsHotelCasablanca-Morocco.jpg") center/100% ;
    
}

.banner__info {
    background: black;
    color: white;
    padding-top: 10vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10vh;
    width: 400px;

}

@media screen and (max-width: 600px) {
    .banner__info {
        background: black;
        color: white;
        padding-top: 5vh;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 5vh;
        width: 300px;
    
    }
    .banner__info > h1 {
        font-size: 1.6rem;  
      
    }

}

@media screen and (max-height: 800px) {
.banner__info {
    padding-top: 3vh;
    padding-bottom: 3vh;
}
    
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;

}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__info > button:hover {
    background-color: white;
    color:  #ff7779;
}

.banner__searchButton {
    background-color: white !important; /* !important overrides other css properties that are inherited.  */
    color: #ff7779 !important;
    text-transform: inherit !important;
    font-weight: 600 !important;

}