.datePicker {
    position: absolute;
   
    top: 35px;
    
    z-index: 10;
    position: absolute;
  /* good centering method */
  left: 50%;
  transform: translate(-50%, 0%);
}


.datePicker > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 332px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 320px;
}

.datePicker > input {
    width: 332px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 380px;
    border: none;
}

.datePicker > input:focus {
    outline-width: 0;
}

.datePicker > button {
    position: absolute;
    left: 0;
    top: 420px;
    text-transform: inherit
    !important;
    background-color: #ff7779;
    color: white;
    width: 332px;
    border-radius: 0px 0px 10px 10px;
    
}

.datePicker > button:hover {
    background-color: white;
    color: #ff7779;
}