.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
    padding: 20px;
}
.header__logo {
    object-fit: contain;
    height: 100px;
    margin-left: 10px;
    
}

@media screen and (max-width: 600px) {
    .header__logo {
        object-fit: contain;
        height: 80px;
        margin-left: -10px;
        
    }

    .header__center {
        display: flex;
        max-width: fit-content;
        width: 300px !important;
        flex:1 ;
        align-items: center;
       margin: 0px 10px !important;
        
        height: 30px;
        border: 1px solid lightgrey;
        border-radius: 999px;

    }

    .header__center > input {
        border: none ;
        padding: 6px;
        outline-width: 0; 
        width: 20vw;
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
        
    }

    .header__right > p {
        font-size: 14px;
        padding: 0px 5px;
        margin-left: -5px !important;
    
    }
    
}

.header__center {
    display: flex;
    max-width: fit-content;
    flex:1 ;
    align-items: center;
    padding: 20px 10px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 999px;
    
    
}

.header__center > input {
    border: none ;
    padding: 6px;
    outline-width: 0; /* outline width is true/false. loses the gross blue inner border thing */
    /* width: 250px; */
}
 
.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

.header__right > p {
    padding: 0px 5px;
    margin-left: -20px;

}